Package: com.AndyIbanez.launchNotifier
Name: LaunchNotifier
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Andy Ibanez
Author: Andy Ibanez
Section: Tweaks
